@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Kumbh+Sans:wght@400;700&family=Lato&family=Lexend+Deca:wght@400;500&family=Montserrat:wght@700&family=Mukta:wght@300;400&family=Oleo+Script+Swash+Caps&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #152733;
  font-family: "Lato", sans-serif;
}
.all_body {
  height: 100vh;

  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 100%;
  position: relative;
}
.logo_head {
  text-align: center;
  padding-bottom: 115px;
}
#logo_entreprise {
  width: 8em;
}

header {
  display: flex;
  flex-direction: column;
}
header img {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;

}

form[action="aa"] {
  width: 400px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


form [action="bb"] {
  width: 400px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form h1 {
  padding-bottom: 10px;
  font-weight: bold;
}
form p {
  padding-bottom: 25px;
}
form input {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  background-color: whitesmoke;
  /* border: none; */
  border-radius: 5px;
  border: 2px solid gray;

}
form input:hover {
  border: 2px solid #007bff;
}
.button {
  margin-top: 10px;
  padding: 08px;
  margin-bottom: 35px;
  margin-right: 10px;
}
.button_1 {
  background-color: #0093ff;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  border: 0;
}
.button_1:hover {
 box-shadow: 2px 2px 2px #87CEEB;
}
/* .others_links{
    border: 3px solid red;
} */
.forget_link{
     text-decoration: none;
     color: #000;
     padding-bottom: 1px;
}
.forget_link:hover{
    
    border-bottom: 1px solid black;
     
}

.all_links {
  display: flex;
}
.all_links a {
    text-decoration: none;
    margin-right: 8px;
}
.all_links a:hover {
    text-decoration: underline;
    
}
/* .all_links i{
   font-size: 13px;
} */
.icon{
  background-color: #f7f7f7;
  border-radius: 5px;
}
.icone a {
  text-decoration: none;
}

.icone a:hover {
  text-decoration: none;
}
.icone-one {
  color: white;
  margin: 5px;
  background-color: whitesmoke;
  justify-content: left;
}
.icone-two {
  color: white;
  margin: 5px;
  background-color: whitesmoke;
}
.icone-two i {
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 8px;
}
.icone-three {
  color: white;
  margin: 5px;
  background-color: whitesmoke;
}
.icone-three i {
  padding: 5px;
  background-color: blue;
  color: white;
  border-radius: 10px;
 font-size: 10px;
}
.end-form {
  margin-top: 15px;
  border-bottom: 2px solid whitesmoke;
  width: 45%;
  padding-bottom: 3px;
}
.end-form h5 {
  font-size: 1rem;
}
.end-form a{
   font-size: 0.9rem;
   cursor: pointer;
}
.password{
    color: #000;
    font-size: .8rem;
}
.register_end_form{
    width: 50%;
    text-decoration: none;
    font-weight: bold;
}
.register_end_form:hover{
    border-bottom: 2px solid blue;
}

/*  Responsive du site internet */ 

@media (max-width: 420px) {
  /* styles à appliquer pour les écrans d'une largeur inférieure à 420px */
   section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
   }
    /* header{
       
  } */
  form{
    width: 100%;
  }

  .all_links{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  img[title="image de fond"] {
 visibility: hidden;
   
  }
  
}
@media (max-width: 270px) {
  /* styles à appliquer pour les écrans d'une largeur inférieure à 270px */
 #logo_entreprise{
  margin-bottom: 95%;
 }
}




/*  commentaire de l'ajout du formulaire */

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

#prevBtn, #nextBtn{
  padding: 10px 30px;
  font-weight: bold;
  background-color: #0093ff;
  border-radius: 10px;
  border: none;
}
#prevBtn{
  margin-bottom: 15px;
}
