*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #003153;
    /* background-image: url('image/image_de_fond.png');
    background-repeat: no-repeat; */
}
.all_body{
    height: 100vh;
   border: 5px solid red;  
   padding: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bodyy{
    border: 2px solid blue;
    width: 600px;
}