* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  outline: none;
}

body {
  background-color: #f1f1f1;
}
.main-container {
  background-color: #494541;
  height: 100vh;
  width: 100%;
  position: relative;
}

#regForm {
  position: absolute;
  background-color: #ffffff;
  padding: 40px;
  width: 40%;
  min-width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img.main-bg {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#regForm h1 {
  color: #af600e;
  font-size: 35px;
  margin-bottom: 13px;
}

#regForm p {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 15px;
}
.count_container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #af600e;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  margin-bottom: 15px;
}
.count_container div{
  font-size: 1.2em;
}
.count_container::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);

}

input {
  padding: 18px;
  width: 100%;
  font-size: 17px;
  background-color: #494541;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #fff;
  border: none;
  font-weight: 300;
}

/* Slider two */

#myCheckbox {
  /* Définir les dimensions souhaitées */
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.packs-of-resto {
  font-weight: bold;
  background-color: #494541cc;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  padding: 6px;
  color: #fff;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #af600e;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 8px;
}

#prevBtn {
  background-color: #6d6a67;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6d6a67;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

.pack {
  background-color: #6d6a67;
  border-radius: 15px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 15px;
  margin-bottom: 15px;
}
.pack.active .pack-list{
  display: block;
}
.pack.active,
.pack:hover {
  background-color: #af600e;
}

.pack .pack-list {
  margin-top: 15px;
  display: none;
}

#regForm .pack h2 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
#regForm .pack p {
  margin-bottom: 0px;
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
}

/* Hide the browser's default checkbox */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px #fff solid;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radio-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
